<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-consulta-heading" jhiTranslate="practicaApp.consulta.home.createOrEditLabel">Create or edit a Consulta</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="practicaApp.consulta.sintomas" for="field_sintomas">Sintomas</label>
                    <input type="text" class="form-control" name="sintomas" id="field_sintomas"
                           formControlName="sintomas"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="practicaApp.consulta.signos" for="field_signos">Signos</label>
                    <input type="text" class="form-control" name="signos" id="field_signos"
                           formControlName="signos"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="practicaApp.consulta.tiempoSintomas" for="field_tiempoSintomas">Tiempo Sintomas</label>
                    <input type="text" class="form-control" name="tiempoSintomas" id="field_tiempoSintomas"
                           formControlName="tiempoSintomas"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
