<div>
    <h2 id="page-heading">
        <span jhiTranslate="practicaApp.signosVitales.home.title">Signos Vitales</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-signos-vitales" [routerLink]="['/signos-vitales/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="practicaApp.signosVitales.home.createLabel">
            Create a new Signos Vitales
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="signosVitales?.length === 0">
        <span jhiTranslate="practicaApp.signosVitales.home.notFound">No signosVitales found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="signosVitales?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="practicaApp.signosVitales.presionArterial">Presion Arterial</span></th>
                    <th scope="col" ><span jhiTranslate="practicaApp.signosVitales.respiracion">Respiracion</span></th>
                    <th scope="col" ><span jhiTranslate="practicaApp.signosVitales.pulso">Pulso</span></th>
                    <th scope="col" ><span jhiTranslate="practicaApp.signosVitales.temperatura">Temperatura</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let signosVitales of signosVitales ;trackBy: trackId">
                    <td><a [routerLink]="['/signos-vitales', signosVitales.id, 'view']">{{ signosVitales.id }}</a></td>
                    <td>{{ signosVitales.presionArterial }}</td>
                    <td>{{ signosVitales.respiracion }}</td>
                    <td>{{ signosVitales.pulso }}</td>
                    <td>{{ signosVitales.temperatura }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/signos-vitales', signosVitales.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/signos-vitales', signosVitales.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(signosVitales)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
