<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-examen-fisico-heading" jhiTranslate="practicaApp.examenFisico.home.createOrEditLabel">Create or edit a Examen Fisico</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="practicaApp.examenFisico.peso" for="field_peso">Peso</label>
                    <input type="number" class="form-control" name="peso" id="field_peso"
                           formControlName="peso"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="practicaApp.examenFisico.talla" for="field_talla">Talla</label>
                    <input type="number" class="form-control" name="talla" id="field_talla"
                           formControlName="talla"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="practicaApp.examenFisico.indiceMasaCorporal" for="field_indiceMasaCorporal">Indice Masa Corporal</label>
                    <input type="number" class="form-control" name="indiceMasaCorporal" id="field_indiceMasaCorporal"
                           formControlName="indiceMasaCorporal"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="practicaApp.examenFisico.signosVitales" for="field_signosVitales">Signos Vitales</label>
                    <select class="form-control" id="field_signosVitales" name="signosVitales" formControlName="signosVitales">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="signosVitalesOption.id === editForm.get('signosVitales')!.value?.id ? editForm.get('signosVitales')!.value : signosVitalesOption" *ngFor="let signosVitalesOption of signosvitales; trackBy: trackById">{{ signosVitalesOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
